.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel-item{
    height:500px; 
    background-size:cover;
    background-position: center center;
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.otro-blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: black;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid rgba(0, 151, 255, 1);
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.otro-blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:rgba(0, 151, 255, 1);
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.otro-blockquote::after{
  content: '';
}

.otro-blockquote span{
  display:block;
  color:black;
  font-style: italic;
  font-weight: bold;
  margin-top:1em;
}

