{% extends "landing/base.html" %}
{% load static %}

{% block about %}
<link rel="stylesheet" href="{% static 'landing/about.css' %}"> 

<div class="container p-3 my-3" id="my-container">
    <h1>About IIITU</h1>
    <p id="myp">IIIT Una is one of the 20 IIITs being setup, funded and managed by the Ministry of Human Resource Development, Govt. of India under the Public Private Partnership (PPP) model. 
    The partners setting up IIIT Una are the Ministry of Human Resource Development, Govt. of India, the Govt. of Himachal Pradesh, HP Power Corporation Limited and HP Transmission Corporation Limited. Admissions to the undergraduate programmes in the Institute are made through the Joint Entrance Examination (JEE).
    </p>
    <p id="myp">At present, IIIT Una operates from its temporary premises of Transit Campus-II (DevBhumy Group of Institutes, Vill. Chandpur, Teh. Haroli, Una, H.P.) and Transit Campus-I(NIT Campus, Hamirpur). The permanent campus is coming up in the district of Una In Himachal Pradesh.
    </p>
</div>

<div class="container p-3 my-3" id="my-container">
    <h1>Vision</h1>
    <p id="myp">To provide valuable resources for industry and society through excellence in technical education and research.</p>
</div>

<div class="container p-3 my-3" id="my-container">
    <h1>Mission</h1>
    <ul class="a">
        <li id="myp">To offer state-of-the-art undergraduate programs in CSE, IT, and ECE streams.</li>
        <li id="myp">To undertake collaborative projects for a longer period of time with academia and industries in the form of internships.</li>
        <li id="myp">To develop human intellectual capabilities to its fullest potential.</li>
      </ul>
</div>

<div class="container p-3 my-3" id="my-container">
    <h1>Objectives</h1>
    <ul class="a">
        <li id="myp">To design and implement a curriculum which fills the Industry –Academia gaps and ensuring its regular updation with the changing need of Industry and society in-large.</li>
        <li id="myp">To engage the best minds in teaching-learning process of the Institute.</li>
        <li id="myp">To create state-of-the-art learning facilities such as well-equipped Labs, Library, etc.</li>
        <li id="myp">To establish the state-of-the-art research facilities in the Institute.</li>
        <li id="myp">To collaborate with the best education and research Institutes/Organizations in the Country and across the world.</li>
        <li id="myp">To develop a learning environment where creativity can prosper without any limitations.</li>
        <li id="myp">To build a learning and experimentation platform where dreams and visions can become a reality.</li>
        <li id="myp">To develop prototypes of research-based products conforming to global standards for competing globally.</li>
      </ul>
</div>

{% endblock %}
